In [2]:
# Problem 3
import pandas as pd
import numpy as np
from sklearn.preprocessing import normalize

In [11]:
dataFile = "perGameStats.txt"
df = pd.read_csv(dataFile)
df.to_csv('{}.csv'.format(dataFile.split('.')[0]))
df[['Player','handle']] = df['Player'].str.split('\\',expand=True)
df = df[df['Tm'] != 'TOT']
df = df.reset_index(drop=True)
df.info()

for index,row in df.iterrows():
        if len(np.where(df['Player'] == row['Player'])[0]) > 1:
            for ind in np.where(df['Player'] == row['Player'])[0]:
                df.loc[ind,'Player'] = '{} ({})'.format(df.loc[ind,'Player'], df.loc[ind,'Tm'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      594 non-null    int64
 1   Player  594 non-null    object
 2   Pos     594 non-null    object
 3   Age     594 non-null    int64
 4   Tm      594 non-null    object
 5   G       594 non-null    int64
 6   GS      594 non-null    int64
 7   MP      594 non-null    float64
 8   FG      594 non-null    float64
 9   FGA     594 non-null    float64
 10  FG%     589 non-null    float64
 11  3P      594 non-null    float64
 12  3PA     594 non-null    float64
 13  3P%     556 non-null    float64
 14  2P      594 non-null    float64
 15  2PA     594 non-null    float64
 16  2P%     581 non-null    float64
 17  eFG%    589 non-null    float64
 18  FT      594 non-null    float64
 19  FTA     594 non-null    float64
 20  FT%     553 non-null    float64
 21  ORB     594 non-null    float64
 22  DRB     594 non-null    float64
 23  TRB     594 non-null    float64
 24  AST     594 non-null    float64
 25  STL     594 non-null    float64
 26  BLK     594 non-null    float64
 27  TOV     594 non-null    float64
 28  PF      594 non-null    float64
 29  PTS     594 non-null    float64
 30  handle  594 non-null    object
dtypes: float64(23), int64(4), object(4)
memory usage: 144.0+ KB

In [12]:
# Select desired fields
data = df[['MP','2PA','2P','3PA','3P','FTA','FT','TRB','STL','BLK','TOV']]
data.info()
data_scaled = normalize(data,axis=0)
data_scaled = pd.DataFrame(data_scaled,columns=data.columns)
data_scaled

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MP      594 non-null    float64
 1   2PA     594 non-null    float64
 2   2P      594 non-null    float64
 3   3PA     594 non-null    float64
 4   3P      594 non-null    float64
 5   FTA     594 non-null    float64
 6   FT      594 non-null    float64
 7   TRB     594 non-null    float64
 8   STL     594 non-null    float64
 9   BLK     594 non-null    float64
 10  TOV     594 non-null    float64
dtypes: float64(11)
memory usage: 51.2 KB

,MP,2PA,2P,3PA,3P,FTA,FT,TRB,STL,BLK,TOV
0,0.023462,0.027933,0.029678,0.000000,0.000000,0.032514,0.021610,0.033316,0.016852,0.034974,0.020763
1,0.004960,0.006794,0.001413,0.003497,0.000000,0.000000,0.000000,0.003808,0.000000,0.000000,0.000000
2,0.053220,0.040767,0.046637,0.001166,0.000000,0.041071,0.021610,0.084718,0.056174,0.048964,0.044492
3,0.063902,0.094367,0.100340,0.002332,0.000000,0.095831,0.099407,0.089477,0.056174,0.076944,0.077119
4,0.049405,0.061905,0.059356,0.041969,0.040621,0.030803,0.032415,0.042835,0.022469,0.062954,0.029661
...,...,...,...,...,...,...,...,...,...,...,...
589,0.038150,0.030953,0.025438,0.024482,0.024998,0.029092,0.030254,0.025701,0.061791,0.000000,0.023729
590,0.047497,0.068699,0.077728,0.006995,0.003125,0.027380,0.021610,0.060920,0.067408,0.041969,0.059322
591,0.065428,0.085308,0.076315,0.075777,0.071868,0.148881,0.164238,0.038075,0.044939,0.013990,0.127543
592,0.041012,0.046051,0.050876,0.008161,0.003125,0.039359,0.036738,0.068536,0.039321,0.027980,0.029661
593,0.042156,0.040012,0.049463,0.001166,0.000000,0.039359,0.041060,0.069487,0.022469,0.062954,0.032627

In [13]:
numberOfClusters = 50
from sklearn.cluster import KMeans
kmeansCluster = KMeans(n_clusters=numberOfClusters,random_state=42)
kmeansCluster.fit(data_scaled)

KMeans(n_clusters=50, random_state=42)

In [14]:
import sys
original_stdout = sys.stdout

with open('playerClusterKmeans.txt', 'w') as f: 
   sys.stdout = f
   # Output the clusters
   for i in range(numberOfClusters):
       index = np.where(kmeansCluster.labels_ == i)[0]
       print('\nCluster %d\n' % i)
       for j in range(len(index)):
           print(df['Player'][index[j]])
   sys.stdout = original_stdout

In [15]:
yourPlayer = 'Stephen Curry'

indexOfYourPlayerInDataFrame = np.where(df['Player']==yourPlayer)[0][0]

clusterOfPlayer = kmeansCluster.labels_[indexOfYourPlayerInDataFrame]
index = np.where(kmeansCluster.labels_ == clusterOfPlayer)[0]
print('\nk-means cluster')
print('===============')
for j in range(len(index)):
     print(df['Player'][index[j]])

k-means cluster
===============
Stephen Curry
James Harden (HOU)
Damian Lillard