In [19]:
# Problem 3
import pandas as pd
import numpy as np
from sklearn.preprocessing import normalize

In [20]:
dataFile = "perGameStats.txt"
df = pd.read_csv(dataFile)
df.to_csv('{}.csv'.format(dataFile.split('.')[0]))
df[['Player','handle']] = df['Player'].str.split('\\',expand=True)
df = df[df['Tm'] != 'TOT']
df = df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      594 non-null    int64
 1   Player  594 non-null    object
 2   Pos     594 non-null    object
 3   Age     594 non-null    int64
 4   Tm      594 non-null    object
 5   G       594 non-null    int64
 6   GS      594 non-null    int64
 7   MP      594 non-null    float64
 8   FG      594 non-null    float64
 9   FGA     594 non-null    float64
 10  FG%     589 non-null    float64
 11  3P      594 non-null    float64
 12  3PA     594 non-null    float64
 13  3P%     556 non-null    float64
 14  2P      594 non-null    float64
 15  2PA     594 non-null    float64
 16  2P%     581 non-null    float64
 17  eFG%    589 non-null    float64
 18  FT      594 non-null    float64
 19  FTA     594 non-null    float64
 20  FT%     553 non-null    float64
 21  ORB     594 non-null    float64
 22  DRB     594 non-null    float64
 23  TRB     594 non-null    float64
 24  AST     594 non-null    float64
 25  STL     594 non-null    float64
 26  BLK     594 non-null    float64
 27  TOV     594 non-null    float64
 28  PF      594 non-null    float64
 29  PTS     594 non-null    float64
 30  handle  594 non-null    object
dtypes: float64(23), int64(4), object(4)
memory usage: 144.0+ KB

In [21]:
# Select desired fields
data = df[['MP','2PA','2P','3PA','3P','FTA','FT','TRB','STL','BLK','TOV']]
data.info()
data_scaled = normalize(data)
data_scaled = pd.DataFrame(data_scaled,columns=data.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MP      594 non-null    float64
 1   2PA     594 non-null    float64
 2   2P      594 non-null    float64
 3   3PA     594 non-null    float64
 4   3P      594 non-null    float64
 5   FTA     594 non-null    float64
 6   FT      594 non-null    float64
 7   TRB     594 non-null    float64
 8   STL     594 non-null    float64
 9   BLK     594 non-null    float64
 10  TOV     594 non-null    float64
dtypes: float64(11)
memory usage: 51.2 KB

In [22]:
numberOfClusters = 50
from sklearn.cluster import KMeans
kmeansCluster = KMeans(n_clusters=numberOfClusters,random_state=42)
kmeansCluster.fit(data_scaled)

KMeans(n_clusters=50, random_state=42)

In [23]:
import sys
original_stdout = sys.stdout

with open('playerClusterKmeans.txt', 'w') as f: 
   sys.stdout = f
   # Output the clusters
   for i in range(numberOfClusters):
       index = np.where(kmeansCluster.labels_ == i)[0]
       print('\nCluster %d\n' % i)
       for j in range(len(index)):
           print(df['Player'][index[j]])
   sys.stdout = original_stdout

In [24]:
yourPlayer = 'Stephen Curry'

indexOfYourPlayerInDataFrame = np.where(df['Player']==yourPlayer)[0][0]

clusterOfPlayer = kmeansCluster.labels_[indexOfYourPlayerInDataFrame]
index = np.where(kmeansCluster.labels_ == clusterOfPlayer)[0]
print('\nk-means cluster')
print('===============')
for j in range(len(index)):
     print(df['Player'][index[j]])

k-means cluster
===============
Malik Beasley
Jordan Clarkson
Stephen Curry
Evan Fournier
Eric Gordon
James Harden
Damian Lillard
CJ McCollum
Malik Monk
Jordan Poole
Norman Powell
Immanuel Quickley
Terry Rozier
D'Angelo Russell
Fred VanVleet
Kemba Walker